@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

[dir="rtl"] {
  font-family: 'Cairo', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #07062e;
}
::-webkit-scrollbar-thumb {
  background: #f5c04f;
  border-radius: 20px;
  border: 2px solid #07062e;
}
::-webkit-scrollbar-thumb:hover {
  background: #ea3326;
}